html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: grey;
	color: white;
	font-family: 'Courier New', Courier, mono-space;
}

header {
	background: black;
	text-align: center;
	padding: 10px;
}

button {
	margin: 0 auto;
	color: black;
}

#board {
	margin: 40px auto 0 auto;
}

#board div {
	height: 20px;
	width: 20px;
	border: 1px solid white;
	float: left;
	text-align: center;
	cursor: pointer;
	color: grey;
	background: grey;
}

#board div.show {
	background: white;
}

#board div.flag {
	background-image: url('./flag.png');
	background-size: contain;
}

#board div.mine {
	background-color: white;
	background-image: url('./mine.png');
	background-size: contain;
}

#message {
	display: block;
	clear: both;
	text-align: center;
	margin: 20px auto;
}